$TTL 86400
@       IN      SOA     ns.{{ zone_name }}. admin.{{ zone_name }}. (
                        2025061101 ; Serial
                        3600       ; Refresh
                        1800       ; Retry
                        1209600    ; Expire
                        86400 )    ; Negative Cache TTL

@       IN      NS      ns.{{ zone_name }}.
ns      IN      A       {{ default_ip }}

{% for rec in records %}
{{ rec.name }}      IN      {{ rec.type }}     {{ rec.value }}
{% endfor %}
